.custom-snackbar {
  .custom-snachbar__information {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    p {
      margin: 0;
      color: #ffffff;

      .custom-snackbar__name {
        text-transform: capitalize;
      }
    }

    p:hover {
      cursor: default;
    }
  }

  .custom-snackbar__information--success {
    background-color: rgb(71, 163, 48);
  }

  .custom-snackbar__information--error {
    background-color: rgb(173, 46, 29);
  }
}
