<div class="custom-snackbar" (click)="closeSnackbar()">
  <div
    *ngIf="data.type === 'success'"
    class="custom-snachbar__information custom-snackbar__information--success"
  >
    <div class="custom-snackbar__header">
      <mat-icon [ngStyle]="{ color: 'rgb(71, 163, 48)' }"
        >check_circle</mat-icon
      >
      <p>
        {{ data.title }}
      </p>
    </div>
    <div class="custom-snackbar__body">
      <p>{{ data.text }}</p>
    </div>
  </div>
  <div
    *ngIf="data.type === 'error'"
    class="custom-snachbar__information custom-snackbar__information--error"
  >
    <div class="custom-snackbar__header">
      <mat-icon [ngStyle]="{ color: 'rgb(173, 46, 29)' }">cancel</mat-icon>
      <p>
        {{ data.title }}
      </p>
    </div>
    <div class="custom-snackbar__body">
      <p>{{ data.text }}</p>
    </div>
  </div>
</div>
