.custom-snackbar {
  background-color: #ffffff;

  .custom-snachbar__information {
    .custom-snackbar__header {
      display: flex;
      justify-content: flex-start;
      gap: 5px;

      p {
        margin: 0;
        color: #000000;
        font-weight: bold;
      }
    }

    .custom-snackbar__body {
      p {
        margin: 0 0 0 28px;
        color: #414040;
      }
    }

    p:hover {
      cursor: default;
    }
  }
}
