.stat-card {
  background-color: #fff1b9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px 2px #7773672b;

  p {
    margin: 0;
  }

  .stat-card__title {
    font-weight: bold;
    font-size: 15px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 30px;
      margin-right: 10px;
      transform: rotate(90deg);
      color: red;
    }
  }

  hr {
    border: 1px solid #e0c867;
    width: 100%;
    margin: 0;
  }

  .stat-card__body {
    padding: 15px 20px;
  }
}
