.home {
  .home__sidenav-container {
    margin-top: 56px !important;

    @media (min-width: 599px) {
      margin-top: 64px !important;
    }

    .sidenav-container__sidenav {
      background-color: #055586;
      box-shadow: 0 0 20px #362c03;
      width: 100%;

      @media (min-width: 480px) {
        width: unset;
      }

      a {
        text-decoration: none;
        color: #ffffff;
      }

      img {
        max-width: 150px;

        @media (min-width: 480px) {
          max-width: 210px;
        }
      }
    }

    .sidenav-container__sidenav-content {
      background-color: #ffcc00;
    }
  }
}
