$yellowColor: #ffcc00;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  background-color: $yellowColor;
}

.success-snackbar {
  background-color: #ffffff;
  border-left: 5px solid rgb(71, 163, 48);
}

.error-snackbar {
  background-color: #ffffff;
  border-left: 5px solid rgb(173, 46, 29);
}
