<div class="pokemons">
  <div class="input-container">
    <input type="text" placeholder="Search" [formControl]="searchControl" />
    <img
      src="/assets/icons/search_icon.svg"
      alt="search"
      (click)="searchPokemon()"
    />
  </div>
  <mat-tab-group animationDuration="0">
    <mat-tab label="All">
      <ng-template matTabContent>
        <div class="pokemons__progress-spinner" *ngIf="isLoadingPokemons">
          <mat-progress-spinner
            color="accent"
            mode="indeterminate"
            diameter="100"
            strokeWidth="13"
          ></mat-progress-spinner>
        </div>
        <div class="pokemons__list" *ngIf="!isLoadingPokemons">
          <app-pokemon
            @grow
            @fadeIn
            class="pokemons__pokemon"
            *ngFor="let pokemon of pokemons.results"
            [pokemonBasic]="pokemon"
            [currentTab]="currentTab"
          ></app-pokemon>
        </div>
        <app-nav-buttons
          (onChangePage)="loadPokemons($event)"
          [previousURL]="pokemons.previous"
          [nextURL]="pokemons.next"
        ></app-nav-buttons>
      </ng-template>
    </mat-tab>
    <mat-tab label="Favorites">
      <ng-template matTabContent>
        <app-favorites></app-favorites>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
